# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/gemini-chat?retryWrites=true&w=majority

# Groq
GROQ_API_KEY=your_groq_api_key_here

# Web Search API
TAVILY_API_KEY=your_tavily_api_key_here

# CORS — set to your frontend URL in production
CLIENT_URL=http://localhost:3000
